<!-- This example requires Tailwind CSS v2.0+ -->



<div class="card-component">
  <div class="card-header">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card headers on desktop than on body sections -->
    
    <div id="title">
      <h3 class="text-lg leading-6 font-medium text-gray-900" >Diagram - <%= @diagram.name %></h3>
    </div>
  </div>

  <div class="card-body">
    <!-- Content goes here -->
     <%= render(Diagrams::DiagramComponent.new(@diagram)) %>

  </div>
  
  <div class="card-footer">
    <!-- Content goes here -->
    <!-- We use less vertical padding on card footers at all sizes than on headers or body sections -->
    <%= link_to "Edit this diagram", edit_diagram_path(@diagram), class: "mt-2 link-crud" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this diagram", diagram_path(@diagram), method: :delete, class: "mt-2 link-crud" %>
    </div>
    <%= link_to "Back to diagrams", diagrams_path, class: "ml-2 link-crud" %>
  </div>
</div>