<div id="<%= dom_id vessel %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= vessel.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= vessel.type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Complement:</strong>
    <%= vessel.complement %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Propulsion:</strong>
    <%= vessel.propulsion %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Maneuverablility:</strong>
    <%= vessel.maneuverablility %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Size:</strong>
    <%= vessel.size %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Seaworthiness:</strong>
    <%= vessel.seaworthiness %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Shiphandling:</strong>
    <%= vessel.shiphandling %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Spped:</strong>
    <%= vessel.spped %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Overall ac:</strong>
    <%= vessel.overall_ac %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hull sections:</strong>
    <%= vessel.hull_sections %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sink:</strong>
    <%= vessel.sink %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Section hp:</strong>
    <%= vessel.section_hp %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Section ac:</strong>
    <%= vessel.section_ac %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rigging sections:</strong>
    <%= vessel.rigging_sections %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rigging hp:</strong>
    <%= vessel.rigging_hp %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ram:</strong>
    <%= vessel.ram %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mounts:</strong>
    <%= vessel.mounts %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Space:</strong>
    <%= vessel.space %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Height:</strong>
    <%= vessel.height %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Watch:</strong>
    <%= vessel.watch %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Complement:</strong>
    <%= vessel.complement %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Speed:</strong>
    <%= vessel.speed %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cost:</strong>
    <%= vessel.cost %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rowers:</strong>
    <%= vessel.rowers %>
  </p>

</div>
